
@font-face {
    font-family: Roboto;
    /*src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
     */
}
/*
.root{
    -fx-font-family: "Roboto Light";
    -fx-background-color: linear-gradient(to bottom, #69D179, #498952);

}
*/
#title{
    -fx-font-family: "Roboto Thin";
}
#circle{
    -fx-background-color: black;
}
/*
TODO: Clean up CSS and specificity.
Note that these labels lock your font size.
 */
#closeApp{
    -fx-font-size: 12.0;
}


.text-field{
    -fx-font-size: 16;
    -fx-prompt-text-fill: rgba(0,0,0,.5);
}

.text-field:focused{
    -fx-border-width: 2;
    -fx-border-color: rgb(144, 166, 0);
}

.button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 8, 0, 4, 4);
    -fx-background-radius: 10;
    -fx-text-fill: #1c1c1c;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: rgb(222, 222, 222);
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 8, 0, 2, 2);
    -fx-translate-x: 1;
    -fx-translate-y: 1;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.topBarIcon {
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-effect: none;
}
.topBarIcon:hover {
    -fx-background-radius: 0;
    -fx-effect: none;
    -fx-translate-y: 0;
    -fx-translate-x: 0;
}

.topBarIcon:pressed{
    -fx-background-radius: 10;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.label{
    -fx-font-size: 19;
}
#topBar{
    -fx-background-color: rgb(155, 166, 0);
    -fx-border-width: 0 0 7 0;
    -fx-border-color: white;
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 0);
}

.topButton{

    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 0, 0, 0, 0);
}

#icon.image{
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 0);
}

#menuButton{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#menuButton:hover{
    -fx-translate-y: 2;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: rgb(255, 255, 255);
}

.menu-button{
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.10), 16, 0, 4, 4);
    -fx-background-radius: 10;
    -fx-text-fill: white; /*not this*/
}
.menu-item-button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: black;
    -fx-font-size: 16;
}


.menu-item:hover{

}

.text-field{
    -fx-background-color: white;
    -fx-border-color: rgb(180,180,180);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}


#dropdown{
    -fx-background-color: rgb(255, 255, 255);
    -fx-effect: dropShadow(gaussian, rgba(0,0,0,0.15), 32, 0, 2, 2);
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-view-order: 100;
}

#menuItemTop{
    -fx-background-color: rgb(255, 255, 255);
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: none;
    -fx-text-alignment: left;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: white;

}
#menuItem{
    -fx-background-color: rgb(255, 255, 255);
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: none;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: white;
    -fx-border-color: rgba(0, 0, 0, .5);
    -fx-border-width: 1 0 0 0;
}
#menuItemBottom{
    -fx-background-color: rgb(255, 255, 255);
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-effect: none;
    -fx-background-radius: 0 0 10 10;
    -fx-text-fill: white;
    -fx-border-color: rgba(0, 0, 0, .5);
    -fx-border-width: 1 0 0 0;
}

#menuItem:hover{
    -fx-background-color: rgba(0, 0, 0, .3);
}
#menuItemTop:hover{
    -fx-background-color: rgba(0, 0, 0, .3);
}
#menuItemBottom:hover{
    -fx-background-color: rgba(0, 0, 0, .3);
}
#menuItem:pressed{
    -fx-background-color: rgba(0, 0, 0, .4);
}
#menuItemTop:pressed{
    -fx-background-color: rgba(0, 0, 0, .4);
}
#menuItemBottom:pressed{
    -fx-background-color: rgba(0, 0, 0, .4);
}

.table-view{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.table-view .table-cell{
    -fx-table-cell-border-color:transparent;
}


.table-view:focused{
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view .column-header {
    -fx-background-color: #b6b428;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: left;
    -fx-font-alignment: left;
}

.table-view .column-header-background {
    -fx-background-color: #adb628;
    -fx-background-radius: 7px 7px 0px 0px;
}


.table-row-cell{
    -fx-pref-height: 30;
}

.table-row-cell:focused{
    -fx-text-background-color: black;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:selected{
    -fx-text-background-color: blue;
}


.table-row-cell:odd{
    -fx-background-color: #dee0a4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2;
}
.table-row-cell:even{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 2;
}

/* OTHER SHIT
 */

/**
This code right here removed the horizontal bars from the dashboard tables. It only (should only) affect them if they're
in scrollpanes.
 */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;

}